html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#body_wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* Blog */
.blog-entry {
    width: 580px;
    background-color: white;
    padding-top: 20px;
    padding-left: 35px;    
}

.blog-title {
    line-height: 1.1;
    margin-left: -10px;
    font-family: Sans-Serif, serif;
    color: #222;
}


.blog-info {
    color: #888;
    margin-left: 15px;
    font-size: 14px;
    font-style: italic;
}

.blog-body {
    line-height: 1.4;
    padding-bottom: 45px;
    padding-top: 20px;
    width: 510px;
    text-align: justify;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    color: #444;
}

.blog-body .sourceCode {
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: #333333;
}


.navbar-brand {
    color: #eee;
}

.navbar-brand:hover {
    color: #eee;
}

.navbar-nav > li > a:hover {
    color: #eee;
}

.navbar .active{
    background-image: url("/images/unselected.png");
}


code {
    background-color: #f9f2f4;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #555;
    font-size: 80%;
    padding: 1px 2px;
    white-space: nowrap;
}
.sourceCode {
    font-size: 85%;
}


.figure {

}