*~
_cache
*.hi
*.o
_site
/.vagrant/machines/default/virtualbox/id
/package.box
/TAGS
/cabal-dev/
/dist/
/libpeerconnection.log
/.cabal-sandbox/
/cabal.sandbox.config
/docset/
/posts/.DS_Store
.stack-work/
/node_modules/
**/.DS_Store
/result
