---
title: {{postTitle}}
author: Eric Stolten
published: false
---

# Heading 1

## Heading 2

### Heading 3

#### Heading 4

Put images inside of the images directory and they will get optimized.

_Here is em text_

**Bold text**

This is `an inline code snippet`

You can inline html



<div class="foo">
Using markdown inside a div with [links](http://www.google.com).
</div>

Keep lists

* a
* b
* c

Bootstrap some stuff with images

<div class="row">
    <div class="col-xs-12 col-sm-6">
    ![](images/template-layout.png)
    </div>
</div>

#### Inline code

~~~ {.javascript .html}
{
  products: [
    {
      name: "Develop fast apps",
      price: 10.35,
      description: "A long description",
      specifications: [
        {
          name: "weight",
          value: "3"
        }
      ],
      reviews: [
        {
          userName: "Eric Stolten"
          rating: 5,
          review: "Really long review"
        }
      ]
    }
  ]
}
~~~
