<div class="navbar navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Eric Stolten</a>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
	<li class="$homeLink$"><a href="/home">Home</a></li>
        <li class="$blogLink$"><a href="/archive">Blog</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

